p {
	font-size: 17px;
	font-family: home;

	line-height: 2;
	color: cornsilk;
}

.list ul li {
	padding: 30px;
}

html {
	background-color: black;
	width: 1858px;
}

h1,
li,
h4,
h2 {
	color: cornsilk;
}

.list-ths {
	border: 5px solid darkred;
	border-radius: 15px;
	background-color: rgb(210, 105, 30, 0.2);
	width: 90%;
}

.list {
	border: 5px solid darkred;
	border-radius: 15px;
	background-color: rgb(210, 105, 30, 0.2);
	width: 50%;

	padding: 20px;
}

.ul-ths {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	margin: auto;
}

@font-face {
	font-family: "home";
	src: url(home.ttf);
}

.column-two {
	padding: 30px 45px 10px 45px;
	background-color: rgb(75, 0, 130, 0.3);
	border: 2px solid rgb(230, 230, 250, 8);
	border-radius: 10px;
}

.container {
	font-family: home;
	border: 4px soid ghostwhite;
	padding: 15px;
	margin: 15px;
}

.list nav {
	font-size: 17px;
	text-decoration: none !important;
	padding: 25px;
	text-align: center;
}

.list nav a {
	border: 1px solid darkred;
	font-size: 20px;
	padding: 10px;
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: 10px;
	color: cornsilk;
	text-decoration: none;
}

.list-ths a:hover {
	text-decoration: underline;
	color: darkred;
}

a:active {
	text-decoration: underline;
}

.list-ths {
	line-height: 2.7;
	font-size: 25px;
	padding: 15px;
}

footer ul a:active {
	text-decoration: underline;
	color: darkred;
}

footer ul a:hover {
	text-decoration: underline;
	color: darkred;
}

footer ul a {
	color: cornsilk;
	text-decoration: none;
}

footer ul {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
}

footer ul li {
	padding: 20px;
	border: 1px solid rgb(255, 215, 0);
	font-size: 20px;
	padding: 10px;
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: 10px;
	color: cornsilk;
	justify-content: space-between;
}

footer {
	background-color: rgb(173, 255, 47, 0.5);
	border: 2px solid rgb(255, 215, 0);
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	margin: 1px;
}

.list-ths a {
	color: cornsilk;
	text-decoration: none;
	border: 1px solid rgb(255, 215, 0);
	background-color: rgb(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 10px;
}

.four {
	display: flex;
	border: 4px solid goldenrod;
	border-radius: 10px;
	width: 100%;
	justify-content: end;
	flex-shrink: 10;
	margin: 20px 35px 15px 10px;
}

#right {
	border-radius: 0px 10px 10px 0px;
	width: 40%;
}

#left {
	border-radius: 10px 0px 0px 10px;
}
